@import 'tailwindcss';
@import './components.css';
@import './colors.css';
@import './animations.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

* {
    scrollbar-color: #3e3e3e #181818;
    scrollbar-width: thin;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}
.custom-scrollbar::-webkit-scrollbar {
    display: none;
  }
.custom-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modal-enter-from .modal-window {
    opacity: 0;
    transform: scale(0.5);
  }
.modal-leave-to .modal-window {
    opacity: 0;
    transform: scale(1.5);
}


